.container {
	display: flex;
	align-items: center;
	gap: 24px;
}
.info {
	width: 219px;
	height: 129px;
}
.number {
	margin-top: 0;
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 0;
	color: #c5c6ce;
}
.image {
	width: 100px;
	height: 129px;
}
.title {
	margin-top: 7px;
	font-weight: 800;
	font-size: 18px;
	margin-bottom: 0;
	color: #00001a;
}
.title:hover {
	color: #f15d51;
}
.text {
	margin-top: 5px;
	color: #5e607a;
	font-size: 15px;
	line-height: 26px;
}
