.container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (min-width: 768px) {
	}
}
.icon {
	display: block;
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.menu {
	position: relative;
}
.nav {
	display: none;

	@media screen and (min-width: 768px) {
		display: block;
		position: relative;
		height: 10px;
		width: 431px;
		font-size: 15px;
		color: #5e607a;
	}
}
.nav--show {
	display: block;
	width: 256px;
	height: 100vh;
	position: absolute;
	flex-direction: column;
	right: 0;
	background-color: #fff;
	z-index: 10;
}
.nav--show::before {
	content: '';
	position: absolute;
	top: -60px;
	left: -200px;
	width: 200px;
	height: 800px;
	background-color: black;
	opacity: 0.5;
	z-index: 100;
	@media screen and (min-width: 768px) {
		background-color: transparent;
	}
}

.ul {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 203px;
	height: 216px;
	position: relative;
	top: 100px;
	left: 30px;
	@media screen and (min-width: 768px) {
		width: 431px;
		height: 26px;
		top: 0;
		left: -10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
	}
}
a:hover {
	color: #f15d51;
}
